<section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 col-lg-6 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center" style="background-image:url(images/about.jpg);">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <h1 class="big">About</h1>
                        <h2 class="mb-4">در مورد من</h2>
                        <p>نردبان این جهان ما و منیست، عاقبت این نردبان افتادنیست</p>
                        <ul class="about-info mt-4 px-md-0 px-2">
                            <li class="d-flex"><span>نام:</span> <span>محمد ملک زاد</span></li>
                            <li class="d-flex"><span>تاریخ تولد:</span> <span>31 مرداد 1365</span></li>
                            <li class="d-flex"><span>ایمیل:</span> <span>mohammad.malekzad@yahoo.com</span></li>
                            <li class="d-flex"><span>تلفن:</span> <span>09371474773</span></li>
                        </ul>
                    </div>
                </div>
                <div class="counter-wrap ftco-animate d-flex mt-md-3">
                    <div class="text">
                        <p class="mb-4">
                            <span>تعداد پروژه های انجام شده</span>
                            <span class="number" data-number="10">0</span>
                        </p>
                        <button class="btn btn-primary py-3 px-3" disabled>دانلود رزومه</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
