<section class="ftco-section ftco-partner d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="images/Angular.png" class="img-fluid" alt="Angular"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="images/Ionic.png" class="img-fluid" alt="Colorlib Template"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="images/Javascript.png" class="img-fluid" alt="Colorlib Template"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner mt-5"><img src="images/Nodejs.png" class="img-fluid" alt="Colorlib Template"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner mt-2"><img src="images/Bootstrap.png" class="img-fluid" alt="Colorlib Template"></a>
            </div>
        </div>
    </div>
</section>
