<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target rtl" id="ftco-navbar">
    <div class="container rtl">
        <a class="navbar-brand" href="index.html"> توسعه دهنده</a>
        <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> فهرست
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-md-auto">
                <li class="nav-item"><a href="#home-section" class="nav-link"><span>خانه</span></a></li>
                <li class="nav-item"><a href="#about-section" class="nav-link"><span>در مورد من</span></a></li>
                <li class="nav-item"><a href="#resume-section" class="nav-link"><span>رزومه</span></a></li>
                <li class="nav-item"><a href="#projects-section" class="nav-link"><span>اپلیکیشن گزارش عدم انطباق</span></a></li>
            </ul>
        </div>
    </div>
</nav>
