<section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="projects-section">
    <div class="container">
        <div class="row d-flex no-gutters">
             <div class="col-md-6 col-lg-6 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-items-center justify-content-center">
                        <img src="/images/new.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <h2 class="mb-4">گزارش عدم انطباق ها</h2>
                        <p>این نرم افزار در بستر سیستم عامل اندروید تهیه شده است قادر است عدم انطباق های پروژه ها را در بانک اطلاعاتی قدرتمند مانگو ذخیره کرده وآنها را در هر لحظه در اختیار مدیریت ارشد قرار دهد</p>
                        <ul class="about-info mt-4 mr-4 px-md-0 px-2">
                            <li class="d-flex">توانایی گرفتن عکس از عدم انطباق رخداده</li>
                            <li class="d-flex">وارد کردن اطلاعات عدم انطباق در قالب فرم</li>
                            <li class="d-flex">مشخص کردن فاز رخداده در عدم انطباق</li>
                            <li class="d-flex">تعیین سطح دسترسی برای کارشناسان</li>
                            <li class="d-flex">به محض شناسایی عدم انطباق توسط مدیران قابل بررسی می باشد</li>
                            <li class="d-flex">اصلاح عدم انطباق ها تنها توسط شناسایی کننده آن قابل انجام است</li>
                            <li class="d-flex">مشخص کردن فاز رخداده در عدم انطباق</li>
                            <li class="d-flex">امکان استفاده از پروتکل https وجود دارد</li>
                            <li class="d-flex">بانک اطلاعاتی Mongo DB می باشد</li>
                            <li class="d-flex">زبان اپلیکیشن فارسی می باشد</li>
                            <li class="d-flex">قابلیت دریافت موقعیت جغرافیایی عدم انطباق</li>
                            <li class="d-flex">قابل استفاده برای گوشی های هوشمند (در نسخه های سفارشی سایر قابلیت ها در صورت درخواست مد نظر قرار می گیرد) </li>
                            <li class="d-flex">مشخص کردن فاز رخداده در عدم انطباق</li>
                            <li class="d-flex">اضافه شدن انواع فیلترها برای دسته بندی اطلاعات</li>
                        </ul>
                    </div>
                </div>
                <div class="counter-wrap ftco-animate d-flex mt-md-3">
                    <div class="text">
                        <button class="btn btn-primary py-3 px-3" disabled>دانلود بصورت سفارشی می باشد </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
