<section class="ftco-section ftco-no-pb goto-here" id="resume-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <nav id="navi">
                    <ul>
                        <li><a href="#page-1">تحصیلات</a></li>
                        <li><a href="#page-3">مهارت ها</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-9">
                <div id="page-1" class="page one">
                    <h2 class="heading">تحصیلات</h2>
                    <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">1389-1384</span>
                            <h2>مقطع کارشناسی</h2>
                            <span class="position">مهندسی صنایع</span>
                            <p>تحلیل سیستم</p>
                        </div>
                    </div>
                    <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">1396-1393</span>
                            <h2>مقطع کارشناسی ارشد</h2>
                            <span class="position">مدیریت MBA</span>
                            <p>بازاریابی</p>
                        </div>
                    </div>
                </div>
                <div id="page-3" class="page three">
                    <h2 class="heading">مهارت ها</h2>
                    <div class="row progress-circle mb-5">
                        <div class="col-lg-4 mb-4">
                            <div class="bg-white rounded-lg shadow p-4">
                                <h2 class="h5 font-weight-bold text-center mb-4">CSS</h2>

                                <div class="progress mx-auto" data-value='90'>
<span class="progress-left">
<span class="progress-bar border-primary"></span>
</span>
                                    <span class="progress-right">
<span class="progress-bar border-primary"></span>
</span>
                                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <div class="h2 font-weight-bold">90<sup class="small">%</sup></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="bg-white rounded-lg shadow p-4">
                                <h2 class="h5 font-weight-bold text-center mb-4">javascript</h2>

                                <div class="progress mx-auto" data-value='75'>
<span class="progress-left">
<span class="progress-bar border-primary"></span>
</span>
                                    <span class="progress-right">
 <span class="progress-bar border-primary"></span>
</span>
                                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <div class="h2 font-weight-bold">75<sup class="small">%</sup></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="bg-white rounded-lg shadow p-4">
                                <h2 class="h5 font-weight-bold text-center mb-4">Angular</h2>

                                <div class="progress mx-auto" data-value='85'>
<span class="progress-left">
<span class="progress-bar border-primary"></span>
</span>
                                    <span class="progress-right">
 <span class="progress-bar border-primary"></span>
</span>
                                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <div class="h2 font-weight-bold">85<sup class="small">%</sup></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="bg-white rounded-lg shadow p-4">
                                <h2 class="h5 font-weight-bold text-center mb-4">Ionic and Capacitor</h2>

                                <div class="progress mx-auto" data-value='85'>
<span class="progress-left">
<span class="progress-bar border-primary"></span>
</span>
                                    <span class="progress-right">
 <span class="progress-bar border-primary"></span>
</span>
                                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <div class="h2 font-weight-bold">85<sup class="small">%</sup></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="bg-white rounded-lg shadow p-4">
                                <h2 class="h5 font-weight-bold text-center mb-4">Nodejs</h2>

                                <div class="progress mx-auto" data-value='80'>
<span class="progress-left">
<span class="progress-bar border-primary"></span>
</span>
                                    <span class="progress-right">
 <span class="progress-bar border-primary"></span>
</span>
                                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <div class="h2 font-weight-bold">80<sup class="small">%</sup></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="bg-white rounded-lg shadow p-4">
                                <h2 class="h5 font-weight-bold text-center mb-4">Bootstrap 4</h2>

                                <div class="progress mx-auto" data-value='90'>
<span class="progress-left">
<span class="progress-bar border-primary"></span>
</span>
                                    <span class="progress-right">
 <span class="progress-bar border-primary"></span>
</span>
                                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <div class="h2 font-weight-bold">90<sup class="small">%</sup></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
